<h1>ノートの一覧ページ</h1>

<%= link_to '新規作成', new_note_path, :class => "btn btn-primary", :type => "button" %>

<table class="table">
  <thead>
    <th>タイトル</th>
    <th>作成者ID</th>
    <th>更新日時</th>
    <th>編集</th>
    <th>削除</th>
  </thead>
  <tbody>
    <% @notes.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td><%= item.author.account %></td>
        <td><%= item.updated_at %></td>
        <td><%= link_to '編集', edit_note_path(item.id), :class => "btn btn-success btn-xs" %></td>
        <td><%= link_to '削除', note_path(item.id), :method => :delete, data: { confirm: "#{item.title} を削除します" }, :class => "btn btn-danger btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
